 @font-face {
  font-family: 'Cinzel';
  src: url(Cinzel-VariableFont_wght.ttf);
 }

body{
  background-size: cover;
  margin: 0px;
  color: #ffffff;
  font-family: 'Cinzel';
  background-image: url(Img/PageBackground.jpg);
  background-size: cover;
  background-repeat: repeat;
}

nav{
  background-color: #000000;
  height: 100px;
  width: 100%;

}

.navbar img{
  margin: 0;
  padding-top: 4px;
  padding-left: 10px;
  display: inline-block;
}

.Name{
  display: inline-block;
  position: absolute;
  margin: 0px;
  padding-left: 10PX;
}


.navbar H1{
  background-color: #cc0000;
  width: 75px;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  display: block;
}

.navbar H2{
  background-color: #cc0000;
  width: 225px;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  display: block;
}
.background{
  position: relative;
  display: block;
  float: right;
  background-image: url(Img/HeaderBackground.png);
  height: 100px;
  width: 900px;
}

.navbar ul{
  list-style: none;
  overflow: hidden;
  display: inline;
  position: relative;
  padding: 0px;
  margin: 0px;

}
.navbar a{
  font-size: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000ab;
  display: block;
  text-align: center;
  width: max-content;
  margin: 5px;
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  position: relative;

}

.navbar a:hover{
  color: #a1a1a1;
}

.navbar li{
  float: right;
  padding:0 7px; 
  position:relative;

}

.navbar ul li:not(:first-child)::after{
  content:""; 
  border: 1px solid #ffffff;
  border-width: 2px;
  position: absolute; 
  right: -3px; 
  top: 0; 
  margin-top: 20px;
  height: 70%;
}

main{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px;
}

.text{
  width: 700px;
  height: 720px;
}

.text h1{
  margin: 0;
  padding: 5px;
  font-size: 42px;
}

.text p{
  margin: 0;
  padding: 10px;
  font-size: 26px;
}

.container{
  width: 940px;
  height: 700px;
  display: flex;
  justify-content: space-between;
}

.skill-cv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills{
  width: 450px;
  height: 480px;
  outline-color: #cc0000;
  outline-style: solid;
  outline-width: 3px;
}

.cvlink{
    height: 100px;
    width: 450px;
    font-size: 24px;
    border-color: #cc0000;
    border-style: solid;
    border-width: 3px;
    box-sizing: border-box;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.cvlink a{
  text-decoration: none;
  color: #ffffff;
}

.social{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interests{
  width: 450px;
  height: 350px;
  outline-color: #cc0000;
  outline-style: solid;
  outline-width: 3px;
}

.hobbies{
  width: 450px;
  height: 300px;
  outline-color: #cc0000;
  outline-style: solid;
  outline-width: 3px;
}

.container h1{
  margin: 0;
  padding: 5px;
  font-size: 40px;
}

.container p{
  margin: 0;
  padding: 10px;
  font-size: 24px;
}