 @font-face {
  font-family: 'Cinzel';
  src: url(Cinzel-VariableFont_wght.ttf);
 }

body{
  background-size: cover;
  margin: 0px;
  color: #ffffff;
  font-family: 'Cinzel';
  background-image: url(Img/PageBackground.jpg);
  background-size: cover;
  background-repeat: repeat;
}

nav{
  background-color: #000000;
  height: 100px;
  width: 100%;

}

.navbar img{
  margin: 0;
  padding-top: 4px;
  padding-left: 10px;
  display: inline-block;
}

.Name{
  display: inline-block;
  position: absolute;
  margin: 0px;
  padding-left: 10PX;
}


.navbar H1{
  background-color: #cc0000;
  width: 75px;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  display: block;
}

.navbar H2{
  background-color: #cc0000;
  width: 225px;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  display: block;
}
.background{
  position: relative;
  display: block;
  float: right;
  background-image: url(Img/HeaderBackground.png);
  height: 100px;
  width: 900px;
}

.navbar ul{
  list-style: none;
  overflow: hidden;
  display: inline;
  position: relative;
  padding: 0px;
  margin: 0px;

}
.navbar a{
  font-size: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000ab;
  display: block;
  text-align: center;
  width: max-content;
  margin: 5px;
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  position: relative;

}

.navbar a:hover{
  color: #a1a1a1;
}

.navbar li{
  float: right;
  padding:0 7px; 
  position:relative;

}

.navbar ul li:not(:first-child)::after{
  content:""; 
  border: 1px solid #ffffff;
  border-width: 2px;
  position: absolute; 
  right: -3px; 
  top: 0; 
  margin-top: 20px;
  height: 70%;
}

.projectgrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  
}

.projectitem {
 height: 600px;
 width: 800px;
 display: flex;
 align-items: end;
}

.projectcontainer{
  width: inherit;
  text-align: center;
}

.imagecontainer {
  position: relative;
  width: inherit;
  max-width: inherit;
}

.projectimage {
  max-width: 600px;
  max-height: 500px;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 0px;
  opacity: 0;
  transition: opacity 1s, height 0.2s, visibility 0.001s;
  font-size: 20px;
  text-align: left;
  visibility: hidden;
}

.projectitem:hover .overlay {
  height: 500px;
  opacity: 1;
  visibility: visible;
}

.overlay h1{
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 5px;
}

.overlay p{
  margin: 0;
  padding: 0px;
  padding-left: 20px;
  padding-top: 12px;
}



.projectbutton{
    height: 100px;
    font-size: 24px;
    border-color: #cc0000;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    background: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 0;
    cursor: pointer;
}

.projectbutton::after{
    content: '';
    background: #cc0000;
    height: 0px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.1s;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.projectitem:hover .projectbutton:after{
    height: 100%;
}

.projectbutton p{
  font-size: 40px;
}